html {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  line-height: 2;
}

@media only screen and (min-width: 1200px) {
  .charts-container {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}
